#contact iframe
{
    width: 100%;
}

.travel_visit{
border: 1px double royalblue;


}

.travel_visit img{
width: 100%;


}
.travel_visit h5, .travel_visit p{
margin: 20px;


}

.movie_watch{
font-size: 20px;
border-radius: 10px;
margin-bottom: 15px;
padding: 5px 20px;

}
.movie_watch i{
float: right;


}
.movie_text span{
color: darkorange;



}

.book{
margin-bottom: 30px;



}

.book img{
width: 300px;
height: 300px;


}

#contacts iframe{
width: 100%;



}

body{
background-color: rgb(165, 245, 218) ;



}

